<h2>Marketplace</h2>
<!-- built-in Angular pipe async lets Angular know that the data we are receiving there is asynchronous and we need to use a promise to wait for it to load. -->
<div *ngFor="let album of albums | async"  class="card card-default">
  <div class="card-body">
    <h3 (click)="goToDetailPage(album)"><em>{{album.title}}</em> by {{album.artist}}</h3>
    <!-- When Firebase returns data to our application, like the list of Albums in our MarketplaceComponent it adds an extra property to each item. This property is called $key, and it contains the Firebase key that corresponds to that item's entry in the database.  -->
    <p>album key: {{album.$key}}</p>
    <div *ngIf="currentRoute === '/admin'">
      {{album.description}}
      <hr>
      <app-edit-album [selectedAlbum]="album"></app-edit-album>
    </div>
  </div>
</div>
